<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index of Backlog</title>
</head>
<body>
<h1>
    THIS IS HOMEPAGE of Backlog
</h1>
<form method="POST">
    <input id="id_new_item"/>
    {% csrf_token %}
</form>
<table id='id_list_table'>
<tr><td>{{ new_item_content }}</td></tr>
</table>
</body>
</html>